html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', sans-serif !important;
}

#map-canvas{
    height: 100%;
    z-index: 1;
}

.leaflet-horizontalcenter {
    position: fixed;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%);
}

.controlDiv {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.leaflet-horizontallcenter .leaflet-control {
    margin-bottom: 10px;
}

.leaflet-verticalcenter {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 10px;
}

.leaflet-verticalcenter .leaflet-control {
    margin-bottom: 15px;
}
.active {
    background-color: #bba7a7 !important;
    border: 2px solid #bba7a7 !important;
}

#setDay0UI, #setDay1UI, #setDay2UI, #setDay3UI, #setDay4UI, #setAllDaysUI {
    margin: 6px;
    padding-right: 6px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
    &:hover {
        background-color: #dbcdcd;
        border: 2px solid #dbcdcd;
    }
}

#legend-container {
    width: 100%;
    /* height: 30px; */
    max-width: 400px; 
    margin: 0 auto;
}

#legend {
    background-color: rgba(254,254,254,0.7);
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    padding: 5px;
    margin-bottom: 22px;
    z-index: 100;
    width: 100%;
    max-width: 400px;
    position: absolute;
    bottom: 0;
    /* left: calc(50% - 130px); */
}

#icon-legend-container {
    width: 100%;
    /* height: 30px; */
    max-width: 400px; 
    margin: 0 auto;
}

#icon-legend {
    background-color: rgba(254,254,254,0.7);
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    padding: 5px;
    margin-top: 15px;
    margin-right: 22px;
    z-index: 100;
    width: 100%;
    max-width: 220px;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
}

#icon-legend-header {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
}

#legend-icon-names {
    margin-top: 5px;
    width: 90%;
    user-select: none;
}

#icon-legend-button {
    z-index: 100;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 85px;
    left: 10px;
    font-size: 22px;
    cursor: pointer;
    color: black;
    border: 2px solid rgba(114, 114, 114, 0.4);
    -webkit-background-clip: padding-box; 
    background-clip: padding-box;
    border-radius: 3px;
    
}

@media only screen and (max-width: 930px) {
    #icon-legend, #icon-legend-container {
        margin-top: 80px;
    }
}
@media only screen and (max-width: 720px) {
    #icon-legend, #icon-legend-container {
        margin-top: 160px;
    }
}

@media only screen and (max-width: 538px) {
    #icon-legend, #icon-legend-container {
        max-height: 265px;
        max-width: 220px;
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
    }
}

.colorLegend {
    border: 2px solid #000;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    padding: 5px;
}

#eventSelect {
    text-align: center;
}

#levelGreen {
    background-color: #00FF00;
}

#levelYellow {
    background-color: yellow;
}

#levelOrange {
    background-color: orange;
}

#levelRed {
    background-color: red;
}

.map-marker-label{
    position: absolute;
    color: blue;
    font-size: 16px;
    font-weight: bold;
}

.iw-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
}

#senderName {
    text-align: center;
}
#sentDate {
    text-align: center;
}
.color-square {
    width: 20px;
    height: 46px;
    float: left;
    margin-top: 2px;
    border: 0.5px solid #000;
    background-color: white;
}