html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas{
    height: 100%;
}

#setDay0UI, #setDay1UI, #setDay2UI, #setAllDaysUI {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    float: left;
    margin-bottom: 22px;
    text-align: center;
}

#setDay0Text, #setDay1Text, #setDay2Text, #setAllDaysText {
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 15px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

#setDay1UI, #setDay2UI, #setAllDaysUI {
    margin-left: 12px;
}

#legend {
    background-color: rgba(254,254,254,0.7);
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    padding: 5px;
    margin-bottom: 22px;
}

.colorLegend {
    border: 2px solid #000;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    padding: 5px;
}

#eventSelect {
    text-align: center;
}

#levelGreen {
    background-color: green;
}

#levelYellow {
    background-color: yellow;
}

#levelOrange {
    background-color: orange;
}

#levelRed {
    background-color: red;
}

.map-marker-label{
    position: absolute;
    color: blue;
    font-size: 16px;
    font-weight: bold;
}

.iw-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
}